.main-container {
  margin: 0 auto;
  padding: 20px;
}

.title-container {
  text-align: center;
  margin-top: 50px; /* adjust the value as needed */
}

.bio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 10% 15%; /* adjust the value as needed */
}

.bio-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 20px; /* adjust the value as needed */
  justify-self: center; /* center the image within its column */
  border-radius: 20%;
}

.bio-text {
  list-style: 1.5em;
}

@media only screen and (max-width: 768px) {
  .bio-container {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  }
  
  .bio-img {
  order: -1;
  margin-bottom: 1rem;
  }
  }

